<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New Employee</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container my-4">
  <h2>Add New Employee</h2>
  <form action="#" th:action="@{/employees/saveEmployee}" th:object="${employee}" method="post">
    <div class="mb-3">
      <label for="name">Name:</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="Name" required="true" />
    </div>
    <div class="mb-3">
      <label for="email">Email:</label>
      <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required="true" />
    </div>
    <div class="mb-3">
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" th:field="*{dateOfBirth}" class="form-control" required="true" />
    </div>
    <div class="mb-3">
      <label for="position">Position:</label>
      <input type="text" th:field="*{position}" class="form-control" placeholder="Position" required="true" />
    </div>
    <div class="mb-3">
      <label for="department">Department:</label>
      <input type="text" th:field="*{department}" class="form-control" placeholder="Department" required="true" />
    </div>
    <div class="mb-3">
      <label for="salary">Salary:</label>
      <input type="number" th:field="*{salary}" class="form-control" placeholder="Salary" required="true" />
    </div>
    <button type="submit" class="btn btn-primary">Save Employee</button>
    <a th:href="@{/{}}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
</body>
</html>